SECRET_KEY=django-insecure-9!@#z$%&*()_+|}{":?><,./;'[]\=-`~qwertyuiopasdfghjklzxcvbnm
DEBUG=False
ALLOWED_HOSTS=13.60.249.236

DB_HOST=localhost
DB_PORT=5432
DB_NAME=my_web_server
DB_USER=postgres
DB_PASSWORD=1234